/* 스타일 초기화 작업 */
/* 
    - 폰트
    - 초기화 (reset)
    - css 변수 선언
        --main-color : red;
        --sub-color : blue;
*/
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: inherit; }
body {
    font-family: "Do Hyeon", serif;
    font-size: var(--font-size-main);
}

ul { list-style-type: none; }
a { text-decoration: none; color: #000; font-weight: normal; }
a:hover:not(.btn) { text-decoration: underline;}
img { width: 100%; }
button { cursor: pointer; }
hr { margin-bottom: 10px; }

:root {
    --font-size-main: 20px;
}