<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.todos.mapper.TodoMapper">

    <select id="list" resultType="Todos">
        SELECT *
        FROM todos
    </select>
    <!-- 정렬 후 페이징 하면, 완료 안 된 것만 앞으로, 완료 된 것만 뒤로 나옴 -->
    <!-- 페이징 후 정렬을 적용 -->
    <!-- ORDER BY status ASC, seq ASC -->

    <select id="select" resultType="Todos">
        SELECT *
        FROM todos
        WHERE no = #{no}
    </select>

    <select id="selectById" resultType="Todos">
        SELECT *
        FROM todos
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO todos ( id, name, seq )
        VALUES ( #{id}, #{name}, #{seq} )
    </insert>

    <update id="update">
        UPDATE todos
            <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="seq != null">
                    seq = #{seq},
                </if>
                updated_at = now()
            </set>
        WHERE no = #{no}
    </update>

    <update id="updateById">
        UPDATE todos
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="seq != null">
                seq = #{seq},
            </if>
            updated_at = now()
            </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM todos
        WHERE no = #{no}
    </delete>

    <delete id="deleteById">
        DELETE FROM todos
        WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM todos
    </delete>

    <update id="updateAll">
        UPDATE todos
           SET status = 1
    </update>

</mapper>